*, *::after, *::before {
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
  box-sizing: border-box;
}

:root {
  --padding: 10px;
  --scroller-height: 160px;
  --options-width: clamp(220px, 20vw, 240px);
}

body {
  display: grid;
  grid-template: var(--scroller-height) 1fr 1fr / var(--options-width) 4fr;

  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;

  & > div {
    padding: var(--padding);
  }
}

button, select {
  cursor: pointer;
}

div.options {
  grid-row: 1 / 3;
  background-color: #f2f2ff;
  border-bottom: 2px solid black;
  border-right: 2px solid black;

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }

  form {
    display: grid;
    grid-template: 2fr 1fr 2fr / 1fr;
    row-gap: 20px;

    label {
      margin-bottom: 8px;
      font-weight: 700;
    }

    #location {
      appearance: none;
      border: thin solid black;
      padding: 0.2rem;
      font-family: "Arial", sans-serif, system-ui;

      &:focus {
        outline: 2px solid blue;
      }
    }

    #temp-type {
      appearance: base-select;
      border: 2px outset green;
      border-radius: 1px;
      background-color: #90ee90;
      padding: 0.2rem;
      transition: background-color 1s;

      &:hover {
        background-color: #80de80;
      }
    }

    .location, .temp-type {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;

      button.submit {
        padding: 4px 8px;
        background-color: #add8e6;
        border: 2px outset blue;
        transition: background-color 1s;

        &:hover {
          background-color: #9dc8d6;
        }
      }
    }
  }

}

div.day-scroller {
  background-color: #fafffa;
  border-bottom: 2px solid black;
  max-width: 100%;

  & > div {
    display: flex;
    background-color: white;
    width: calc(100vw - var(--options-width) - var(--padding)*2);
    scrollbar-width: thin;
    scrollbar-color: blue transparent;
    height: 100%;
    overflow-x: scroll;
    border: 2px solid black;

    div.day {
      flex: 0 0 auto;
      width: 100px;
      height: 100%;
      padding: 5px;
      cursor: pointer;

      display: grid;
      grid-template: repeat(4, 1fr) / 1fr;

      &.selected {
        background-color: #1f1;
      }

      img, .date {
        justify-self: center;
      }

      img {
        height: 30px;
      }

      .date {
        font-weight: 700;
      }

      .temp {
        justify-self: end;

        &.high {
          color: #500;
        }

        &.low {
          color: #005;
        }
      }
    }

    div.day + div.day {
      border-left: 2px solid black;
    }
  }
}

div.now {
  grid-area: 3 / 1 / 4 / 2;
  background-color: #f2f2ff;
  border-right: 2px solid black;
}

div.selected-day {
  grid-row: 2 / 4;
  background-color: #fafffa;

  & > div {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template: 1fr / 3fr 1fr;
    column-gap: 20px;

    .hours {
      display: grid;
      grid-template: 1fr 1fr / 1fr;
      border: 2px solid black;

      .am-hours, .pm-hours {
        display: flex;

        .hour {
          display: grid;
          grid-template: 2fr repeat(4, 1fr) / 1fr;
          place-items: center;
          flex: 1 0 0px;

          padding: 2px;
          background-color: white;

          img {
            height: 30px;
          }

          .time {
            font-weight: 700;
          }
        }

        .hour + .hour {
          border-left: thin solid black;
        }
      }

      .am-hours { 
        .hour {
          border-bottom: thin solid black;
        }
      }
      .pm-hours { }
    }

    .hour-info {
      border: 2px solid blue;
      grid-area: 1 / 2 / 3 / 3;

    }
  }
}
